{% extends 'backbone/layout.html' %}

{% block title %} Our company, history, and the people behind it {% endblock %}

{% block body %}
<div class="tagline">
    <h2>
        We pioneered the discount broking model in India.
        <br/>Now, we are breaking ground with our technology.
    </h2>
    <hr class="tag-hr">

    <div class="para">
        <p> 
            We kick-started operations on the 14th of July, 2010 with the
            goal of breaking all barriers that traders and investors face in
            India in terms of cost, support, and technology. 
        </p>
        <p> 
            Today, our disruptive pricing models and in-house 
            technology have made us the biggest stock broker 
            in India in terms of active retail clients.
        </p>
        <p> 
            Over 5+ million clients place millions of orders every day
            through our powerful ecosystem of investment platforms,
            contributing over 15% of all Indian retail trading volumes.
        </p>
        <p>
            In addition, we run a number of popular open online educational
            and community initiatives to empower retail traders and investors.
        </p>
        <p>
            Growmore, our fintech fund and incubator, has invested in several
            fintech startups with the goal of growing the Indian capital markets.
        </p>
        <p>
            And yet, we are always up to something new every day. 
            Catch up on the latest updates on our blog or see what 
            the media is saying about us.    
        </p>
        <br>
    </div>
</div>
<hr class="tag-hr">

<div class="people">
    <h2>People</h2>
    
    <div class="founder">
        <img class="people-img" src="/static/images/people/Dipankar.jpg" alt="Dipankar Das, CEO">
        <h5>Dipankar Das</h5>
        <h6 class="text-grey">Founder, CEO</h6>

        <div class="social-handles">
            <a href="https://www.facebook.com/dipankardas.dipu.549" target="_blank">
                <i class="fab fa-facebook"></i></a>    
            <a href="https://www.linkedin.com/in/ddas09/" target="_blank">
                <i class="fab fa-linkedin"></i></a>    
            <a href="https://github.com/ddas09/" target="_blank">
                <i class="fab fa-github"></i></a>
            </a>    
        </div>

        <div class="show-bio">
            <a href="#">
                Bio<i class="fas fa-angle-down"></i>
            </a>
        </div>

        <p class="bio-desc text-grey">
            Dipankar was very interested in stock trading since a very young age.
            He always believed that there could be a better and safer way 
            to trade. As a result, with Ayan and Radhe, he founded TradeX 
            in 2010 to overcome the hurdles he faced during his decade long 
            stint as a trader. Today, TradeX has changed the landscape of 
            the Indian broking industry.
        </p>
    </div>

    <div class="team-members">
        <div class="team">
            <img class="people-img" src="/static/images/people/Ayan.jpg" alt="Ayan Manna, CTO">
            <h5>Ayan Manna</h5>
            <h6 class="text-grey">Co-Founder, CTO</h6>

            <div class="social-handles">
                <a href="https://www.facebook.com/ayan.manna.501151" target="_blank">
                    <i class="fab fa-facebook"></i></a>
                <a href="https://www.instagram.com/ayan_manna/" target="_blank">
                    <i class="fab fa-instagram"></i></a>
                <a href="https://twitter.com/Ayan8080" target="_blank">
                    <i class="fab fa-twitter"></i></a>
            </div>

            <div class="show-bio">
                <a href="#">
                    Bio<i class="fas fa-angle-down"></i>
                </a>
            </div>

            <p class="bio-desc text-grey">
                Ayan is the backbone of TradeX taking care of operations and
                ensuring that we are compliant to rules and regulations. He
                has over a dozen certifications in financial market and is
                also proficient in technical analysis. Workouts, playing cricket, 
                and adventuring is what he does outside of TradeX.
            </p>   
        </div>

        <div class="team">
            <img class="people-img" src="/static/images/people/Radhe.jpg" alt="Radhe Sham Sayani, CIO">
            <h5>Radhe S. Sayani</h5>
            <h6 class="text-grey">Co-founder, CIO</h6>

            <div class="social-handles">
                <a href="https://www.facebook.com/radhe.shyamsaini.104203" target="_blank">
                    <i class="fab fa-facebook"></i></a>
                <a href="https://www.instagram.com/radheshyam.saini/" target="_blank">
                    <i class="fab fa-instagram"></i></a>
                <a href="https://twitter.com/RadheSh86647344" target="_blank">
                    <i class="fab fa-twitter"></i></a>
            </div>

            <div class="show-bio">
                <a href="#">
                    Bio<i class="fas fa-angle-down"></i>
                </a>
            </div>

            <p class="bio-desc text-grey">
                Radhe has a PhD in Artificial Intelligence & Computational 
                Linguistics, and is the brain behind all our technology and 
                products. He has been a developer from his adolescence and 
                continues to write code every day. Apart from this, Radhe has a
                keen interest in game development. 
            </p>
        </div>  

        <div class="team">
            <img class="people-img" src="/static/images/people/Rakesh.jpg" alt="Rakesh Paswan, Director - Strategy">
            <h5>Rakesh Paswan</h5>
            <h6 class="text-grey">Director - Strategy</h6>

            <div class="social-handles">
                <a href="https://www.facebook.com/rakeshpaswan.paswan.73550" target="_blank">
                    <i class="fab fa-facebook"></i></a>
                <a href="https://www.instagram.com/rakeshpaswan110/" target="_blank">
                    <i class="fab fa-instagram"></i></a>
                <a href="https://twitter.com/rakeshpaswan131" target="_blank">
                    <i class="fab fa-twitter"></i></a>
            </div> 

            <div class="show-bio">
                <a href="#">
                    Bio<i class="fas fa-angle-down"></i>
                </a>
            </div>

            <p class="bio-desc text-grey">
                Rakesh is a successful self-made entrepreneur from Singapore.
                His area of specialty revolves around helping organisations
                including grow by optimizing revenue streams and creating
                growth strategies. He is a sport enthusiast and loves
                collecting exquisite watches.
            </p>    
        </div>
    </div>  

    <div class="team-members">
        <div class="team">
            <img class="people-img" src="/static/images/people/Nikhil.jpg" alt="Nikhil R. Podder, Chief of Client Relations">
            <h5>Nikhil R. Podder</h5>
            <h6 class="text-grey">Chief of Client Relations</h6>

            <div class="social-handles">
                <a href="https://www.facebook.com/nikhil.ranjan.7" target="_blank">
                    <i class="fab fa-facebook"></i></a>
                <a href="https://www.instagram.com/nikhilranjanpodder/" target="_blank">
                    <i class="fab fa-instagram"></i></a>
                <a href="https://twitter.com/nikhilranjan2" target="_blank">
                    <i class="fab fa-twitter"></i></a>
            </div>

            <div class="show-bio">
                <a href="#">
                    Bio<i class="fas fa-angle-down"></i>
                </a>
            </div>

            <p class="bio-desc text-grey">
                We take pride in the way we support our clients, and 
                Nikhil is responsible for this with his never ending flow of 
                energy. He is the man behind many of our support initiatives 
                that have helped us stay ahead of the game. He loves to write 
                and make vlogs in his free time.
            </p>    
        </div>  

        <div class="team">
            <img class="people-img" src="/static/images/people/Subhajyoti.jpg" alt="Subhajyoti Chowdhury, COO">
            <h5>Subhajyoti Chowdhury</h5>
            <h6 class="text-grey">Chief of Operations</h6>

            <div class="social-handles">
                <a href="https://www.facebook.com/subhojyoti.chaudhury.50" target="_blank">
                    <i class="fab fa-facebook"></i></a>
                <a href="https://www.instagram.com/m.shubhajyoti/" target="_blank">
                    <i class="fab fa-instagram"></i></a>
                <a href="https://twitter.com/sthefighter" target="_blank">
                    <i class="fab fa-twitter"></i></a>
            </div>

            <div class="show-bio">
                <a href="#">
                    Bio<i class="fas fa-angle-down"></i>
                </a>
            </div>

            <p class="bio-desc text-grey">
                Subhajyoti is an astute investor with over a decade of experience 
                and an impeccable track record, who specializes in modelling 
                sophisticated long term investment strategies and portfolios. 
                He heads investments and risk management at TradeX. He is a
                avid reader and loves photography.
            </p>    
        </div>

        <div class="team">
            <img class="people-img" src="/static/images/people/Nupur.jpg" alt="Nupur Chatterjee, Chief of Quality">
            <h5>Nupur Chatterjee</h5>
            <h6 class="text-grey">Chief of Quality</h6>

            <div class="social-handles">
                <a href="https://www.facebook.com/nupur.chatterjee.946954" target="_blank">
                    <i class="fab fa-facebook"></i></a>
                <a href="https://www.instagram.com/nupur533" target="_blank">
                    <i class="fab fa-instagram"></i></a>
                <a href="https://twitter.com/n_chatt17" target="_blank">
                    <i class="fab fa-twitter"></i></a>
            </div>

            <div class="show-bio">
                <a href="#">
                    Bio<i class="fas fa-angle-down"></i>
                </a>
            </div>
            
            <p class="bio-desc text-grey">
                Nupur worked with an international airline business for 
                over 6 years before joining us. She uses her experience 
                of liasing with people from various backgrounds to ensure 
                that our ever expanding support team maintains highest 
                quality. She is an extremely disciplined fitness enthusiast.
            </p>    
        </div>    
    </div> 
</div>
{% endblock %}