{% extends 'backbone/layout.html' %}

{% block title %} pricing {% endblock %}

{% block body %}
<div class="landing">
    <h1>Pricing</h1>
    <h5>Choose a plan according to your needs</h5>
    <hr class="tag-hr">
</div>

<div class="pricing">
    <div class="plans">
        <div class="plan-name">
            <h2><b>Starter</b></h2>
        </div>    
        <div class="plan-detail">
            <h2><b>$10</b> /month</h2>
            <p><b>$15,000</b> opening balance</p>
            <p><b>1%</b> per executed order</p>
            <button class="mt-4 register-button buy">
                <a href="/register">Sign up</a>
            </button>
        </div>    
    </div>

    <div class="plans">
        <div class="plan-name">
            <h2><b>Professional</b></h2>
        </div> 
        <div class="plan-detail">
            <h2><b>$25</b> /month</h2>
            <p><b>$30,000</b> opening balance</p>
            <p><b>0.8%</b> per executed order</p>
            <button class="mt-4 register-button buy">
                <a href="/register">Sign up</a>
            </button>
        </div>
    </div>

    <div class="plans">
        <div class="plan-name">
            <h2><b>Enterprise</b></h2>
        </div> 
        <div class="plan-detail">
            <h2><b>$50</b> /month</h2>
            <p><b>$60,000</b> opening balance</p>
            <p><b>0.5%</b> per executed order</p>
            <button class="mt-4 register-button buy">
                <a href="/register">Sign up</a>
            </button>
        </div>
    </div>
</div>
<hr class="tag-hr">

<div class="landing">
    <br>
    <img class="mt-5 mb-4" src="/static/images/logo.png" alt="TradeX logo" width="150">
    <h5>
        Create your account today and explore the best trading platform
    </h5>
    <button class="register-button buy">
        <a href="/register">Sign up</a>
    </button>
    
    <p class="mt-3 text-muted">&copy; 2010 - {% now "Y" %}</p>
</div>
{% endblock %}