<div class="footer-dark">
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-md-3 item">
          <h3>Company</h3>
          <ul>
            <li><a href="/about/">About</a></li>
            <li><a href="/pricing/">Pricing</a></li>
          </ul>
        </div>

        <div class="col-md-3 item">
          <h3>Support</h3>
          <ul>
            <li><a href="/contact/">Contact</a></li>
            <li><a href="https://youtube.com/playlist?list=PLl_EHtw2h7QSPCKIDGme-kBgoCiFxUQ5Q" target="_blank">Videos</a></li>
          </ul>
        </div>

        <div class="col-md-3 item">
          <h3>Account</h3>
            <ul>
              <li><a href="/register/">Register</a></li>
              <li><a href="/login/">Login</a></li>
            </ul>
        </div>

        <div class="col-md-3 item text">
          <h3>TradeX Inc</h3>
          <p>
            <i class="me-1 fas fa-phone-alt"></i>
            +91 82 6629 9724
          </p>

          <p>
            <i class="me-1 fas fa-envelope"></i>
            <a id="mail-id" href="mailto:service.tradex@gmail.com" target="_blank">mail@tradeX.com</a>
          </p>
        </div>
      </div>

      <div class="mt-3 col item social">
        <a href="https://twitter.com/tradexteam" target="_blank"><i class="fab fa-twitter"></i></a>
        <a href="https://www.facebook.com/TradexFB" target="_blank"><i class="fab fa-facebook"></i></a>
        <a href="https://www.instagram.com/tradexfx.co" target="_blank"><i class="fab fa-instagram"></i></a>
        <a href="https://www.youtube.com/channel/UCZAPx8aRAA5QIryLgRIMj7w" target="_blank"><i class="fab fa-youtube"></i></a>
        <a href="https://in.linkedin.com/company/tradex-insurance" target="_blank"><i class="fab fa-linkedin"></i></a>
      </div>

      <p class="copyright">
        TradeX Inc &copy; 2010 - {% now "Y" %}<br>
        All rights reserved
      </p>
    </div>
  </footer>
</div>